/* SECTION */
.get-in-touch {
  padding: 60px 15px;
  display: flex;
  justify-content: center;
}

.contact-heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 2px;
  color: #111;
}

/* CONTAINER */
.container {
  max-width: 1000px;
  width: 100%;
}

/* TWO COLUMN */
.two-column {
  display: flex;
  align-items: stretch;
  gap: 50px;
}

/* LEFT & RIGHT SAME HEIGHT */
.left-boxes,
.right-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* LEFT BOXES */
.left-boxes {
  gap: 25px;
}

/* INFO BOX */
.info-box {
  flex: 1;
  border: 1px solid #e5e5e5;
  border-radius: 16px;
  padding: 35px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease;
}

.info-box:hover {
  transform: translateY(-3px);
}

/* HEADINGS */
.info-box h2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #111;
  display: flex;
  align-items: center;
  gap: 12px;
}

/* EMAIL & LOCATION */
.email-text,
.location-text {
  margin-top: 10px;
  font-size: 1rem;
  color: #555;
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-icon {
  color: #000;
}

/* RESUME ICON */
.resume-icon {
  font-size: 1.2rem;
  color: #000;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.resume-icon:hover {
  transform: translateX(6px);
}

/* RIGHT FORM */
.right-form {
  border: 1px solid #e5e5e5;
  border-radius: 16px;
  padding: 40px;
  text-align: center;
  justify-content: center;
}

/* FORM TEXT */
.right-form h2 {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 12px;
}

.right-form p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 25px;
}

/* FORM GRID */
.form-grid {
  display: grid;
  gap: 18px;
}
.success-msg {
  margin-top: 12px;
  color: #000000;
  font-weight: 800;
  text-align: center;
}

/* INPUTS */
.email-input,
.message-box {
  width: 100%;
  padding: 14px 20px;
  border-radius: 30px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
}

.message-box {
  border-radius: 30px;
  min-height: 120px;
  resize: none;
}

.email-input:focus,
.message-box:focus {
  border-color: #000;
}

/* BUTTON */
.send-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.send-btn:hover {
  transform: translateY(-2px);
}

.full-btn {
  width: 100%;
}

/* MOBILE */
@media (max-width: 768px) {
  .two-column {
    flex-direction: column;
  }

  .contact-heading {
    font-size: 2.2rem;
    margin-bottom: 2px;
  }
}
