/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 1000;
}

/* LOGO */
.logo {
  cursor: pointer;
  font-size: 35px;
  font-weight: 1000;
}

/* MENU (DESKTOP) */
.menu {
  display: flex;
  list-style: none;
  gap: 40px;
}

.menu li {
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s ease;
}

.menu li:hover {
  color: #555;
}

/* ICONS */
.nav-icon {
  font-size: 26px;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: black;
  margin: 4px 0;
}

/* MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    transform: translateY(-150%);
    transition: transform 0.3s ease-in-out;
  }

  .menu.show {
    transform: translateY(0);
  }
}
